# Supabase PostgreSQL Session Pooler (Port 5432)
DB_URL=jdbc:postgresql://aws-0-ap-northeast-2.pooler.supabase.com:5432/postgres?sslmode=require
DB_USER=postgres.uocphakieajvukryjaiu
DB_PASSWORD=24682468*Rabani

# JWT Secret (Must be 32+ characters)
JWT_SECRET=735bc056-717a-47ad-8173-455853f81449